In [2]:
import json
import gzip
import pandas as pd

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2164\840360880.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:

# Importing metadata zip file and converting it to dataframe

def getDF(path):
  # Unzip the file, load in each line as an object
  g = gzip.open(path, 'rb')
  g = [json.loads(l) for l in g]

  # Map to a dictionary, then load in as a dataframe
  dict_df = {i: d for (i, d) in enumerate(g)}
  return pd.DataFrame.from_dict(dict_df, orient='index')

df = getDF('All_Beauty.json.gz')

In [4]:
# Identify all columns, their sizes and datatypes in json file 

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 371345 entries, 0 to 371344
Data columns (total 12 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   overall         371345 non-null  float64
 1   verified        371345 non-null  bool
 2   reviewTime      371345 non-null  object
 3   reviewerID      371345 non-null  object
 4   asin            371345 non-null  object
 5   reviewerName    371307 non-null  object
 6   reviewText      370946 non-null  object
 7   summary         371139 non-null  object
 8   unixReviewTime  371345 non-null  int64
 9   vote            51899 non-null   object
 10  style           125958 non-null  object
 11  image           8391 non-null    object
dtypes: bool(1), float64(1), int64(1), object(9)
memory usage: 34.4+ MB

In [6]:
df["reviewText"].describe()

count     370946
unique    319643
top         Good
freq         802
Name: reviewText, dtype: object

In [7]:
df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371340,1.0,True,"07 20, 2017",A202DCI7TV1022,B01HJEGTYK,Sam,It was awful. It was super frizzy and I tried ...,It was super frizzy and I tried to comb it and...,1500508800,NaN,NaN,NaN
371341,5.0,True,"03 16, 2017",A3FSOR5IJOFIBE,B01HJEGTYK,TYW,I was skeptical about buying this. Worried it...,Awesome,1489622400,34,NaN,NaN
371342,5.0,True,"03 1, 2017",A1B5DK6CTP2P24,B01HJEGTYK,Norma Jennings,Makes me look good fast.,Five Stars,1488326400,46,NaN,NaN
371343,2.0,True,"02 21, 2017",A23OUYS5IRMJS9,B01HJEGTYK,Lee,Way lighter than photo\nNot mix blend of color...,Ok but color way off and volume as well,1487635200,NaN,NaN,NaN
371344,2.0,True,"12 15, 2016",A24KQ9RVU81L87,B01HJEGTYK,Season341,No return instructions/phone # in packaging. ...,Might return for a replacement if I could.,1481760000,NaN,NaN,NaN

In [8]:
# Find if there are any reviews that are empty
df_empty_reviews_index = (df["reviewText"] == "" )|( df["reviewText"].isnull())
print("Rows that have empty reviews")

df[df_empty_reviews_index]

Rows that have empty reviews

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
547,5.0,True,"03 4, 2017",A3TQJ5AQXW6CZH,1620213982,mona,NaN,Five Stars,1488585600,NaN,{'Size:': ' Color42'},NaN
3594,5.0,True,"05 21, 2015",A2CMCSBNYJETQY,1620213982,Bobby Hamrick,NaN,Part of a great combo,1432166400,NaN,{'Size:': ' 6.25 Inches'},[https://images-na.ssl-images-amazon.com/image...
4105,5.0,True,"01 7, 2015",A2W5DS4107108S,1620213982,Dimitry,NaN,Just a good idea!,1420588800,3,{'Size:': ' 6.25 Inches'},[https://images-na.ssl-images-amazon.com/image...
6361,5.0,True,"11 19, 2016",A2MZYX8PMNV32V,B000050FDY,Amani albadawi,NaN,Five Stars,1479513600,NaN,{'Size:': ' 2 Count'},NaN
6437,5.0,True,"03 20, 2016",ACEV4EGUYH56O,B000050FDY,Amazon Customer,NaN,Five Stars,1458432000,NaN,{'Size:': ' 2 Count'},NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
369099,5.0,True,"05 19, 2017",A16BQAEP3E5MAS,B01GOSELHE,Amazon Customer,NaN,Five Stars,1495152000,NaN,NaN,NaN
369260,3.0,True,"03 12, 2018",A1AXL15FT6ULO2,B01GQKM0AK,Jinhwa kim,NaN,Three Stars,1520812800,NaN,NaN,NaN
371092,5.0,True,"03 12, 2018",A461O3V81H0GY,B01HEVYINM,joe,NaN,Five Stars,1520812800,NaN,NaN,NaN
371213,4.0,True,"10 25, 2016",A2VYUF746IFMXJ,B01HHA8M8C,Amazon Customer,NaN,Four Stars,1477353600,NaN,NaN,[https://images-na.ssl-images-amazon.com/image...
371296,5.0,True,"06 7, 2017",A3T761GW3WVLED,B01HI75KNE,kasha,NaN,Good buy,1496793600,NaN,NaN,[https://images-na.ssl-images-amazon.com/image...

In [9]:
df = df.drop(df[ ( (df["reviewText"] == "" ) | ( df["reviewText"].isnull()) ) ].index)

df

,overall,verified,reviewTime,reviewerID,asin,reviewerName,reviewText,summary,unixReviewTime,vote,style,image
0,1.0,True,"02 19, 2015",A1V6B6TNIC10QE,0143026860,theodore j bigham,great,One Star,1424304000,NaN,NaN,NaN
1,4.0,True,"12 18, 2014",A2F5GHSXFQ0W6J,0143026860,Mary K. Byke,My husband wanted to reading about the Negro ...,... to reading about the Negro Baseball and th...,1418860800,NaN,NaN,NaN
2,4.0,True,"08 10, 2014",A1572GUYS7DGSR,0143026860,David G,"This book was very informative, covering all a...",Worth the Read,1407628800,NaN,NaN,NaN
3,5.0,True,"03 11, 2013",A1PSGLFK1NSVO,0143026860,TamB,I am already a baseball fan and knew a bit abo...,Good Read,1362960000,NaN,NaN,NaN
4,5.0,True,"12 25, 2011",A6IKXKZMTKGSC,0143026860,shoecanary,This was a good story of the Black leagues. I ...,"More than facts, a good story read!",1324771200,5,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
371340,1.0,True,"07 20, 2017",A202DCI7TV1022,B01HJEGTYK,Sam,It was awful. It was super frizzy and I tried ...,It was super frizzy and I tried to comb it and...,1500508800,NaN,NaN,NaN
371341,5.0,True,"03 16, 2017",A3FSOR5IJOFIBE,B01HJEGTYK,TYW,I was skeptical about buying this. Worried it...,Awesome,1489622400,34,NaN,NaN
371342,5.0,True,"03 1, 2017",A1B5DK6CTP2P24,B01HJEGTYK,Norma Jennings,Makes me look good fast.,Five Stars,1488326400,46,NaN,NaN
371343,2.0,True,"02 21, 2017",A23OUYS5IRMJS9,B01HJEGTYK,Lee,Way lighter than photo\nNot mix blend of color...,Ok but color way off and volume as well,1487635200,NaN,NaN,NaN
371344,2.0,True,"12 15, 2016",A24KQ9RVU81L87,B01HJEGTYK,Season341,No return instructions/phone # in packaging. ...,Might return for a replacement if I could.,1481760000,NaN,NaN,NaN

In [10]:
# Selecting only the colums that are required for analysis

colums_reviewtext_asin = ["reviewText", "asin", "reviewerID"]
df = df[colums_reviewtext_asin]

df.describe()

       reviewText        asin      reviewerID
count      370946      370946          370946
unique     319643       32571          323687
top          Good  B000FOI48G  A2GJX2KCUSR0EI
freq          802        8671              27

In [19]:
# Identify range of values in reviews
df_reviews_without_empty = df["reviewText"].apply(lambda x: len(x.split()))
df_reviews_without_empty.describe()

count    319643.000000
mean         42.042973
std          59.966297
min           1.000000
25%          11.000000
50%          24.000000
75%          49.000000
max        2443.000000
Name: reviewText, dtype: float64

In [12]:
# Check for innapropriate characters in review column

import re

# Check for non alphabetic or alphanumeric instances in reviews using Regex (in each review)
df["characters_in_review"] = df["reviewText"].apply(lambda x: set(re.findall(r'[^A-Za-z0-9\s]', x)))
df

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_2164\1459922655.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["characters_in_review"] = df["reviewText"].apply(lambda x: set(re.findall(r'[^A-Za-z0-9\s]', x)))

,reviewText,asin,reviewerID,characters_in_review
0,great,0143026860,A1V6B6TNIC10QE,{}
1,My husband wanted to reading about the Negro ...,0143026860,A2F5GHSXFQ0W6J,"{., '}"
2,"This book was very informative, covering all a...",0143026860,A1572GUYS7DGSR,"{., ,}"
3,I am already a baseball fan and knew a bit abo...,0143026860,A1PSGLFK1NSVO,"{., ,}"
4,This was a good story of the Black leagues. I ...,0143026860,A6IKXKZMTKGSC,"{', ,, ., !}"
...,...,...,...,...
371340,It was awful. It was super frizzy and I tried ...,B01HJEGTYK,A202DCI7TV1022,{.}
371341,I was skeptical about buying this. Worried it...,B01HJEGTYK,A3FSOR5IJOFIBE,"{/, "", ., !}"
371342,Makes me look good fast.,B01HJEGTYK,A1B5DK6CTP2P24,{.}
371343,Way lighter than photo\nNot mix blend of color...,B01HJEGTYK,A23OUYS5IRMJS9,{}
371344,No return instructions/phone # in packaging. ...,B01HJEGTYK,A24KQ9RVU81L87,"{"", ., ', #, /, ,}"

In [13]:
unnecessary_characters = set()
for x in df["characters_in_review"]:
    unnecessary_characters = unnecessary_characters.union(x)
print("All unecessy characters in reviews column:", unnecessary_characters)

# Need to be careful as there are \' in text

All unecessy characters in description column: {')', '_', '~', '*', '+', '"', '\\', '{', '}', '<', '`', ']', '>', '?', '^', '!', '\x10', ';', "'", '@', '(', '/', '[', '%', '&', '=', '#', '-', '|', ':', ',', '.', '\x7f', '$'}

In [14]:
# Identify top words that come up in reviews 

from collections import Counter
Counter(" ".join(df["reviewText"]).split()).most_common(100)

[('I', 533485),
 ('the', 511606),
 ('and', 417879),
 ('a', 352114),
 ('to', 326615),
 ('it', 298263),
 ('is', 214670),
 ('my', 208628),
 ('for', 191118),
 ('this', 186466),
 ('of', 177589),
 ('in', 129628),
 ('that', 115835),
 ('have', 114987),
 ('but', 111737),
 ('on', 109942),
 ('with', 108796),
 ('was', 100655),
 ('not', 98123),
 ('as', 84257),
 ('you', 79395),
 ('The', 77691),
 ('so', 75939),
 ('It', 75384),
 ('like', 66449),
 ('very', 64760),
 ('are', 64399),
 ('product', 63063),
 ('This', 60854),
 ('use', 60179),
 ('be', 51926),
 ('just', 46037),
 ('at', 45968),
 ('one', 45262),
 ('or', 44979),
 ('hair', 44544),
 ('great', 43131),
 ('your', 42147),
 ('love', 41416),
 ('they', 41261),
 ('good', 41120),
 ('will', 41068),
 ('all', 39849),
 ('really', 39522),
 ('would', 39316),
 ('had', 38908),
 ('get', 38727),
 ('has', 37205),
 ('skin', 37107),
 ('than', 37023),
 ('it.', 36522),
 ('when', 36175),
 ('using', 36009),
 ('from', 35152),
 ('me', 34824),
 ('more', 34775),
 ('out', 34763),
 ('used', 34502),
 ('can', 33041),
 ('if', 32538),
 ('after', 31834),
 ('only', 30685),
 ('about', 28990),
 ("it's", 28704),
 ('My', 28657),
 ("don't", 28454),
 ('up', 28045),
 ('because', 27967),
 ('am', 27816),
 ('little', 27653),
 ('been', 27510),
 ('them', 27354),
 ('these', 26977),
 ('no', 26766),
 ('an', 26699),
 ('does', 26189),
 ('do', 26008),
 ("I've", 25656),
 ('much', 25635),
 ('what', 25526),
 ("I'm", 25373),
 ('well', 24551),
 ('other', 23965),
 ('works', 23765),
 ('time', 23368),
 ('i', 21262),
 ('Great', 21208),
 ('some', 20948),
 ('any', 20769),
 ('even', 20622),
 ('product.', 20229),
 ('which', 20159),
 ('also', 20077),
 ('too', 19951),
 ("It's", 19611),
 ('work', 19145),
 ('buy', 18977),
 ('bought', 18685),
 ('nice', 18684),
 ('Love', 18660)]

In [15]:
# Identify duplicate reviews where asin, reviewText and reviewID is the same (written by the same person)
duplicate_list = ["reviewText", "asin", "reviewerID"]

duplicated_rows = df.duplicated(duplicate_list, keep = False)
df[duplicated_rows].sort_values(duplicate_list)

df= df.drop_duplicates(duplicate_list, keep = "last")
df

# 370940 - 362180 identified
# There are more duplicates left (since there are more unique reviews identified) 
# which means some custumers left the same reviews and those need to be removed at the cleanin stage

,reviewText,asin,reviewerID,characters_in_review
0,great,0143026860,A1V6B6TNIC10QE,{}
1,My husband wanted to reading about the Negro ...,0143026860,A2F5GHSXFQ0W6J,"{., '}"
2,"This book was very informative, covering all a...",0143026860,A1572GUYS7DGSR,"{., ,}"
3,I am already a baseball fan and knew a bit abo...,0143026860,A1PSGLFK1NSVO,"{., ,}"
4,This was a good story of the Black leagues. I ...,0143026860,A6IKXKZMTKGSC,"{', ,, ., !}"
...,...,...,...,...
371340,It was awful. It was super frizzy and I tried ...,B01HJEGTYK,A202DCI7TV1022,{.}
371341,I was skeptical about buying this. Worried it...,B01HJEGTYK,A3FSOR5IJOFIBE,"{/, "", ., !}"
371342,Makes me look good fast.,B01HJEGTYK,A1B5DK6CTP2P24,{.}
371343,Way lighter than photo\nNot mix blend of color...,B01HJEGTYK,A23OUYS5IRMJS9,{}
371344,No return instructions/phone # in packaging. ...,B01HJEGTYK,A24KQ9RVU81L87,"{"", ., ', #, /, ,}"

In [16]:
# Remove duplicate reviews
df[df.duplicated("reviewText")]
df = df.drop_duplicates("reviewText", keep="last")
df.describe()

,reviewText,asin,reviewerID,characters_in_review
count,319643,319643,319643,319643
unique,319643,31438,299718,5694
top,My husband wanted to reading about the Negro ...,B000FOI48G,A2GJX2KCUSR0EI,{.}
freq,1,8268,25,64560

In [61]:
# ASIN analysis

asin = df["asin"].apply(lambda x: len(x))

# Check for lengths of asins by CHARACTER
asin.describe()

count    362180.0
mean         10.0
std           0.0
min          10.0
25%          10.0
50%          10.0
75%          10.0
max          10.0
Name: asin, dtype: float64

In [62]:
# Check for innapropriate characters in asin column

# Check for non alphabetic(uppercase) or alphanumeric instances in the whole asin column using Regex
df["characters_in_asin"] = df["asin"].apply(lambda x: set(re.findall(r'[^A-Z0-9\s]', x)))

unnecessary_asin_characters = set()
for x in df["characters_in_asin"]:
    unnecessary_asin_characters = unnecessary_asin_characters.union(x)
print("There are no unecessy characters in asin column:", unnecessary_asin_characters)

There are no unecessy characters in asin column: set()

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_37568\3412770196.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["characters_in_asin"] = df["asin"].apply(lambda x: set(re.findall(r'[^A-Z0-9\s]', x)))